@import "tailwindcss";

:root {
  --white: #ffffff;
  --offwhite: #fafaf9;
  --black: #1b1b1b;
  --main-black: #242628;
  --gray: #666666;
  --primary-green: #00be43;
  --green-2: #2dc15f;
  --blue-teal: #468189;
  --info: #e54f6d;
}

body {
  background: var(--main-black);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-input,
.ant-input-password {
  border-radius: 0 !important;
}

.antd-card {
  border-color: "#00be43" !important;
}
